<h1>{{title}}</h1>
<!--Centriamo la mappa alle nostre coordinate-->
<google-map [center]="center">  
  <!--Mettiamo un marker alle nostre coordinate-->
  <map-marker [position]="position"
              [label]="label" 
              [title]="title"
              [options]="markerOptions">
  </map-marker>

  <map-marker [position]="position1" [label]="label1" [title]="title">
  </map-marker>

  <map-circle [center]="position"
              [radius]="50"
              [options] = 'circleOptions'>
              
  </map-circle>

  <map-polygon [paths]="vertices"
              [options] = 'triangleOptions'>
  </map-polygon>

</google-map>

<button (click)="giallo()">cerchio giallo</button>
<button (click)="blu()">cerchio blu</button>
<button (click)="rosso()">cerchio rosso </button>
<br>
<button (click)="verde()">triangolo verde</button>
<button (click)="arancio()">triangolo arancione</button>
<button (click)="viola()">triangolo viola</button>